.btn {
  font-size: inherit;
  font-family: inherit;
  background-color: var(--light-coloured);
  border: none;
  cursor: pointer;
}

.btn-text-light {
  color: var(--light-coloured);
}

.btn-text-marino {
  color: var(--san-marino);
}

.btn-text-special {
  color: var(--burning-orange);
}

.btn-background-orange {
  background-color: var(--burning-orange);
}

.btn-lg {
  width: 150px;
  height: 150px;
}

.btn-oval {
  padding: 18px 30px;
  border-radius: 30px;
}

.btn-form {
  padding: 18px 120px;
}

.btn-circle {
  border-radius: 50%;
}

.btn-text-bold {
  font-weight: bold;
}
