.btn {
  color: var(--light-coloured);
  font-size: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.btn-lg {
  width: 150px;
  height: 150px;
}

.promo-btn {
  padding: 18px 30px;
  background-color: var(--burning-orange);
  border-radius: 30px;
}

.circle-btn {
  border-radius: 50%;
}
