.text-color-special {
  color: var(--burning-orange);
}

.text-color-light {
  color: var(--light-coloured);
}

.text-color-shaft {
  color: var(--mine-shaft);
}

.text-regular-bold {
  font-weight: bold;
}
