.title-md {
  font-size: 42px;
}

.title-lg {
  font-size: 70px;
}

.title-text-bold {
  font-weight: bold;
}

.title-color-special {
  color: var(--burning-orange);
}

.title-color-light {
  color: var(--light-coloured);
}
