@import url("./modules/fonts.css");
@import url("./modules/header.css");
@import url("./modules/buttons.css");

:root {
  --burning-orange: #fc6733;
  --san-marino: #4056a7;
  --light-coloured: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--light-coloured);
  font-size: 20px;
  font-family: Stolzl, sans-serif;
}
