.consultation {
  padding-top: 125px;
  padding-bottom: 120px;
  background-color: var(--san-marino);
}

.consultation-title {
  margin-bottom: 80px;
  text-align: center;
}

.consultation-form {
  margin-bottom: 60px;
}

.consultation-form-box {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-areas:
    "input-name"
    "input-tel"
    "input-site"
    "submit";
}

@media (min-width: 768px) {
  .consultation-form-box {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "input-name input-tel"
    "input-site submit";
  }
}

@media (min-width: 1280px) {
  .consultation-form-box {
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "input-name input-tel input-site"
    ". submit .";
  }
}

.consultation-input:first-child {
  grid-area: input-name;
}

.consultation-input:nth-child(2) {
  grid-area: input-tel;
}

.consultation-input:nth-child(3) {
  grid-area: input-site;
}

.consultation-submit {
  grid-area: submit;
}
