.consultation {
  padding-top: 125px;
  padding-bottom: 120px;
  background-color: var(--san-marino);
}

.consultation-title {
  margin-bottom: 80px;
  text-align: center;
}

.consultation-form {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 60px;
}
