.consultation {
  padding-top: 125px;
  padding-bottom: 120px;
  background-color: var(--san-marino);
}

.consultation-title {
  margin-bottom: 80px;
  padding-right: 5.5em;
  padding-left: 5.5em;
  text-align: center;
}

.consultation-form-container {
  display: grid;
  justify-items: center;
}

.consultation-form {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 60px;
}
