:root {
  --burning-orange: #fc6733;
  --san-marino: #4056a7;
  --light-coloured: #fff;
  --silver-gray: #c4c4c4;
  --dark-coloured: #000;
  --dark-translucent: rgb(0 0 0 / 70%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: Stolzl, system-ui, sans-serif;
}

.text-title {
  font-weight: bold;
  font-size: 42px;
}

.special-title {
  color: var(--burning-orange);
}

.color-light {
  color: var(--light-coloured) !important;
}
