.container {
  margin-right: 120px;
  margin-left: 120px;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-container {
  /**
   * TODO: Убрать в класс .container
   */
  max-width: 1096px;
  margin-left: auto;
  margin-right: auto;
}

.benefits-title {
  font-size: 42px;
  margin-bottom: 82px;
}

.special {
  color: var(--burning-orange);
}

.benefits-list {
  margin-bottom: 140px;
}

.benefits-inner {
  margin-bottom: 19px;
}

.benefits-inner,
.benefits-last {
  list-style-type: none;
}

.benefits-inner:last-child {
  margin-bottom: 0;
}

.benefits-inner::before {
  display: inline-block;
  width: 18px;
  height: 16px;
  padding-right: 10px;
  background-image: url("../../assets/img/check.svg");
  background-repeat: no-repeat;
  content: "";
}

.benefits-last {
  padding-top: 141px;
}

.benefits-link {
  color: var(--burning-orange);
}

.benefits-wrapper {
  display: flex;
  justify-content: space-between;
}

.image-container {
  position: relative;
}

.benefits-iphone {
  position: absolute;
  top: 135px;
  right: 0;
}
