.container {
  margin-right: 120px;
  margin-left: 120px;
}

.benefits {
  min-height: 807px;
}

.benefits-container {
  display: grid;
  grid-template-areas:
    "title ."
    "img list"
    ". link";
}

.benefits-title {
  grid-area: title;
  font-size: 42px;
}

.image-container {
  grid-area: img;
}

.special {
  color: var(--burning-orange);
}

.benefits-list {
  grid-area: list;
  margin-top: 18px;
}

.benefits-inner {
  margin-bottom: 19px;
}

.benefits-inner,
.benefits-last {
  list-style-type: none;
}

.benefits-inner:last-child {
  margin-bottom: 0;
}

.benefits-inner::before {
  display: inline-block;
  width: 18px;
  height: 16px;
  padding-right: 10px;
  background-image: url("../../assets/img/check.svg");
  background-repeat: no-repeat;
  content: "";
}

.benefits-last {
  padding-top: 141px;
}

.benefits-link {
  grid-area: link;
  color: var(--burning-orange);
}
