.benefits {
  min-height: 807px;
  padding-top: 120px;
}

.benefits-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 82px;
}

.benefits-container::after {
  position: absolute;
  top: 1110px;
  left: 368px;
  display: block;
  width: 156px;
  height: 278px;
  background-image: url("../../assets/img/IphoneX.png");
  content: "";
}

.benefits-title {
  margin-left: 120px;
  font-size: 42px;
}

.special {
  color: var(--burning-orange);
}

.benefits-list {
  padding-top: 18px;
  padding-left: 90px;
}

.benefits-inner {
  padding-bottom: 19px;
}

.benefits-inner,
.benefits-last {
  list-style-type: none;
}

.benefits-inner:last-child {
  padding-bottom: 0;
}

.benefits-inner::before {
  display: inline-block;
  width: 18px;
  height: 16px;
  padding-right: 10px;
  background-image: url("../../assets/img/check.svg");
  background-repeat: no-repeat;
  content: "";
}

.benefits-last {
  padding-top: 141px;
}

.benefits-link {
  color: var(--burning-orange);
}
