@font-face {
  font-weight: 400;
  font-size: 20px;
  font-family: Stolzl;
  src:
    url("../../assets/fonts/Stolzl.woff2") format("woff2"),
    url("../../assets/fonts/Stolzl.woff") format("woff");
}
