.page-header {
  min-height: 770px;
  background-image: url("../../assets/img/camp.png");
  background-repeat: no-repeat;
}

.page-header::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 770px;
  background: linear-gradient(rgb(0 0 0 / 70%), transparent);
  content: "";
}

.container {
  padding-top: 30px;
  padding-right: 120px;
  padding-left: 120px;
}

.short-list {
  display: flex;
  justify-content: space-between;
}

.short-list-inner {
  list-style-type: none;
}

.link {
  color: inherit;
  text-decoration: none;
}
