.page-header {
  min-height: 770px;
  background-image: url("../../assets/img/camp.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header::before {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  min-height: 770px;
  background-image: linear-gradient(rgb(0 0 0 / 70%), transparent);
  content: "";
}

.container {
  padding-top: 30px;
  padding-right: 120px;
  padding-left: 120px;
}

.short-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.container,
.promo {
  position: relative;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 194px;
}

.title {
  font-weight: 500;
  text-align: center;
}

.promo-title {
  font-size: 60px;
}

.promo-text {
  padding-top: 30px;
}
