.page-header {
  display: flex;
  flex-direction: column;
  min-height: 770px;
  background-image: url("../../assets/img/camp.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 770px;
  background-image: linear-gradient(var(--dark-translucent), transparent);
  content: "";
}

.nav-container {
  padding: 30px 120px;
}

.short-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.sharp-img {
  margin-right: 8px;
}

.page-nav,
.promo {
  position: relative;
}

.light {
  color: var(--light-coloured);
}

.title {
  font-weight: bold;
}

.promo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.promo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promo-title {
  padding-bottom: 30px;
  font-size: 60px;
  text-align: center;
}

.promo-text {
  padding-bottom: 101px;
}
